@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

body {
    font: 16px/1.5 Poppins;
}

.header {
    text-align: center;
    padding: 2em;
}

.header span {
    color: #457DC4;
}

.content-sections {
    display: flex;
    justify-content: center;    
    gap: 2em;       
}

.content-sections .section {
    max-width: 500px;
    background-color: #819DAF;
    border-radius: 20px;
}

.section .content {
    margin: 1em;
}

.section .content h2{
    font-weight: 500;
    margin-bottom: 1em;
}

.section .content p{
    margin-bottom: 2em;
}

.section .content a{
    text-decoration: none;
    padding: 0.5em 2em;
    background-color: #327DC4;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
}

.media {
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
}