@media (max-width: 600px) {
    .row {
        flex-direction: column;
        align-items: center;        
    }

    .placeholder {
        height: 190px;
    }

    .tm-header-inner {
        padding: 0;
    }

    .tm-section-title {
        margin-left: 0;
    }

    .tm-gallery-page {
        margin: 0 auto;
    }

    .tm-gallery {
        max-width: 600px;
        margin: 3em;
    }

    .tm-gallery-item {
        max-width: 100%;
    }
}