body {
    display: flex;
    background-color: rgb(212, 212, 212);
    margin: 5em;    
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-basis: 1250px;
}

span {
    display: flex;
    align-items: center;    
    margin: 1em;
    padding: 1em;
    border: 1em solid black;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}