body {
    background-color:  rgb(238, 238, 238);
}
.card {    
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div:last-child {
    position: relative;
    width: 90%;
    transform: translateX(2em);
    padding-bottom: 2em;
}
a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 5px 10px 5px 10px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}