* {
    margin: 0;
    padding: 0;
}
.viewport {
    height: 100vh;
    position: relative;
}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.card img {
    display: block;    
    width: 100%;
    height: auto;
}
.viewport:first-child {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,147,1) 27%, rgba(0,212,255,1) 100%);
}
.viewport:last-child {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(247,2,36,1) 35%, rgba(255,184,0,1) 100%);
}
.card .inner-shadow {
    display: block;    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.5) inset;    
}