@media (width <= 600px) {

    .home-hero {
        flex-direction: column-reverse;
    }

    .home-image1 {
        width: 100%;
    }

    .home-hero-text-container {
        width: 100%;
        margin-left: 0;
    }

    .home-cta-btn2 {
        align-self: center;
        padding: 1em;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        flex-direction: column;
    }

    .home-feature-card,
    .home-feature-card1,
    .home-feature-card2 {
        width: 100%;
    }

    .home-stats {
        padding: 32px 8px;        
        grid-template-columns: 1fr;
      }
    
}