body {
    padding: 1em;    
}

.header {
    height: 880px;
    border-radius: 10px;
    background-image: url(images/poster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img {
    width: 180px;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 8em 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 600px;    
    margin: 0 auto;
    padding: 0 2em;
}

.header-content .tour {
    width: 410px;
}

.destinations main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;    
}

.destinations header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2em 1em;
}

.destinations .media {
    width: 110px;
}

.destinations main > div {
    max-width: 300px;
    display: flex;
    gap: 2em;
    align-items: center;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 1em;
}

section:nth-child(4) {
    position: relative;
}

.outer-img {
    width: 510px;
    aspect-ratio: 1/1;
    position: absolute;    
    border-radius: 15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
}

.choise .icon {
    width: 60px;    
}

.choise header {
    display: inline-block; 
    margin: 0 37em;
    padding-bottom: 5em; 
}

.choise main {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.popular header {
    display: flex;
    justify-content: space-between;
    margin: 2em 1em;    
}

.popular .main {
    display: flex;
    justify-content: space-between;
}

.popular .main > div {    
    width: 190px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    line-height: 2;
}

.main .text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    inset: 0;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.4);
    padding-bottom: 1.5em;
}

.footprints header {
    text-align: center;
    margin-bottom: 2em;
}

.footprints .footprints-main {
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: static;    
}

.footprints .main > div {
    display: flex;
    flex-direction: column;
}

.footprints .icon {
    width: 60px;
    margin: 2em auto;   
}

.articles {
    display: flex;
    justify-content: space-around;    
}

.section-title {    
    margin: 2em;
}

.section-title span {
    color: rgb(0, 0, 0, 0.4);    
}

.articles .article {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    font-size: 12px;
}

.article {
    width: 300px;
}

.article .article-header {
    padding: 1em;
    padding-left: 4em;
    color: rgb(0, 0, 0, 0.4);
}

.article .main {
    padding: 0 2em;
    padding-top: 0;
    font-size: 14px;
}

.article .main p:last-child {
    text-align: center;    
}

.article .footer {
    display: flex;
    justify-content: space-between;
    margin: 1em 2em;
    margin-top: auto;
    padding-top: 1em;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}

.article .footer span {
    font-weight: bold;
}

.opinions {
    padding-top: 7em;
}

.opinions .main {
    display: flex;
    margin-bottom: 10em;
    justify-content: space-between;
    align-items: flex-end;
}

.opinions .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5em;
}

.opinions .data {
    max-width: 550px;
    display: flex;    
    gap: 5em;
    margin-top: 2em;
    line-height: 2;
}

.opinions .container {
    z-index: 1;
}

.customer-container {
    position: relative;
}

.customer-revue {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.customer-revue .revue-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.customer-revue .main {
    margin-bottom: 2em;       
}

.customer-revue .footer {
    padding-top: 2em;
    border-top: 2px solid rgb(0, 0, 0, 0.1);
    justify-content: flex-start;
    gap: 1em;
}

.customer-revue .footer img {
    width: 60px;
}

#infront {
    z-index: 100;
}

#sheet1 {
    width: 200px;
    height: 270px;
    border-radius: 15px;
    position: absolute;    
    bottom: 0;
    right: 0;
    background-color: #E7E6E6;
    transform: translate(10px, -5px) rotate(2deg);    
    z-index: 5;
}

#sheet2 {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    position: absolute;    
    bottom: 0;
    right: 0;
    background-color: #E7E6E6;
    transform: translate(20px, -15px) rotate(5deg);    
    z-index: 4;
}

#sheet3 {
    width: 200px;
    height: 240px;
    border-radius: 15px;
    position: absolute;    
    bottom: 0;
    right: 0;
    background-color: #E7E6E6;
    transform: translate(25px, -15px) rotate(8deg);    
    z-index: 4;
}

.travel-articles .container {
    display: flex;
    justify-content: space-between;
}

.travel-articles a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #05073C;
}

.travel-articles .media {
    position: relative;
    width: 410px;
}

.travel-articles .media p {
    position: absolute;
    top: 2em;
    left: 2em;
    background-color: white;
    color: #05073C;
    padding: 0.5em 1em;
    border-radius: 50px;
}

.travel-articles .article-header span {
    display: flex;    
}

.travel-articles .article-header p {
    padding: 0.5em 1em;
    margin: 1.5em 0;
}

.travel-articles .article-header p:first-child {
    border-right: 2px solid #E7E6E6;
    padding-left: 0;    
}

.travel-articles .article-content {
    max-width: 410px;
    font-size: 18px;
}

.info-header {
    display: flex;
    justify-content: space-between;
    padding: 0 7em 4em 7em;    
    border-bottom: 2px solid rgb(235, 234, 234);
}

.info .links {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    
}

.info .links h2 {
    margin: 1em 0;
}

.info .contact p,
.info .contact a {
    font-weight: 400;
}

.info .contact p {
    margin-bottom: 0.5em;
}

.info ul li {
    line-height: 2.5;
}

.info .container {
    padding: 5em;
}

.info .subscribe p{
    font-weight: 400;
}

.info .links form {
    position: relative;
    display: inline-block;
}

.info input {
    padding: 1em;
    width: 260px;
    border-radius: 10px;
    outline: none;
    border: none;
    border: 1px solid rgb(231, 231, 231);
}

.info .links button {
    position: absolute;
    top: 0;
    bottom: 0; 
    right: 15px;
    margin: auto 0; 
    border: none;    
    background-color: transparent;
}

.site-footer .container {
    display: flex;
    justify-content: space-between;
    padding: 1em;   
}

.site-footer .container div {
    display: flex;
}

.site-footer img {
    width: 45px;
}